<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>validacion</title>
</head>
<body>
<h1  class="text-center">Validacion anti Robots</h1>

<form th:action="@{/seguridad}" th:object="${robot}" method="post">
    <h2 class="text-center">Eres un robot</h2><br>
    <div class="custom-control custom-checkbox"  class="text-center">
    <input class="form-control"class="form-check-input" type="checkbox" th:field="*{soyRobot}" th:value="false">
    <span th:errors="*{soyRobot}" style=color:#FF0000></span><br>
        <br>
    <input class="form-control" type="submit" class="btn btn-secondary" value="Validar">
    </div>
</form>
<br>

<div class="text-center">
    <a  type="button"   class="btn btn-secondary"   href="/producto">Regresar</a>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>